<?xml version="1.0" encoding="utf-8" ?>
<Config>
<!-- 
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ DB接続情報
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<DSN value="USER ID=ko4; Password=ta2; Data Source=10.33.17.192:1521/PDBCCSDBT01;"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 業務名
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<CompanyName value=""/>
	<BusinessName value="簡易エントリ"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ ユーザID（アルファベット3文字）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<UserId value="nto"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 得意先コード
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<TokuisakiCode value="996529"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 品名コード
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<HinmeiCode value="003"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 画像連携Endファイル連携フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
 -->
	<END_FILE_DIRECTORY value="\\main.ad.dnp.co.jp\d-box\部門\情イ５\協働\GL_KODAMA_19040408\個人フォルダ\越谷友重\COSMOS\end\"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ画像　連携フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<DivRoot value="C:\172.17.8.100\nto\image\"/>
	<ReceiveHulftFolder value=""/>
	<receiveuid value=""/>
	<receivepwd value=""/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ単位分割後処理
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ExecAfterImportFlag value="0"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ結果データ　連携フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ExportFolder value="C:\172.17.8.100\JAT\hnbn\entry\result\"/>
	<PCIDSSExportFolder value=""/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ ゼロ件データ作成
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<CreateZeroDataFlag value="1"/>
	<DeliveryFolder value="C:\172.17.8.100\JAT\hnbn\dev\"/>
	<HulftFolder value=""/>
	<uid value=""/>
	<pwd value=""/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリデータ出力　連携年月日差異　
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ExportDateDiff value="0"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリデータ出力単位 (1:連携年月日　回数、2:連携年月日、3:連携年月日まで、9:連携年月日まででコンペア終了したバッチ)
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ExportUnit value="9"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリデータ出力後処理
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ExecAfterExportFlag value="0"/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 禁則文字
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ProhibitionChars value=""/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 判読不可入力文字（半角）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ReadNotCharNarrowInput value="*"/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 判読不可出力文字（半角）テキスト出力時に「判読不可入力文字（半角）」から置き換わる
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ReadNotCharNarrowOutput value="*"/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 判読不可入力文字（全角）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ReadNotCharWideInput value="＊"/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 判読不可出力文字（全角）テキスト出力時に「判読不可入力文字（全角）」から置き換わる
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ReadNotCharWideOutput value="＊"/>
<!--
　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 入力無し時メッセージ表示フラグ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<NoInputMessageFlag value="1"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ AI-OCR 画像ファイル連携フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<OcrImageRoot value="C:\172.17.8.100\dxs_real_imp"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ AI-OCR 読み取り結果ファイル連携フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<OcrCsvRoot   value="C:\172.17.8.100\dxs_real_exp"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ DWFC使用フラグ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<useDWFCFlag value="0"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ 7zパス
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<SevenZipPath value="C:\Program Files\7-Zip\7z.exe"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ項目フォント（半角）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<EntryTextBoxFont value="ＭＳ 明朝"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ項目フォント（全角）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<EntryTextBoxFontN value="ＭＳ 明朝"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ エントリ文字コード（0:Shift_Jis、1:Shift_Jis（JIS第一、第二水準）、2:JIS拡張、3:UTF8（出力時BOM無し）
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<Enc value="1"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ ドキュメント出力フォルダ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<DocFolder value=""/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ イメージファイル拡張子
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<ImageFileExtension value="*.jpg"/>
<!--
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
  ■ COSMOS連携フラグ
  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
-->
	<COSMOS_FLAG value="0"/>
</Config>
